:root {
    font-family: Inter, sans-serif;

    --box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    --color-blue-basic: #3369f3;
    --color-blue-extra: #2854c2;
    --color-gray: #999;
    --color-gray-light: #efefef;
    --color-white: #fff;
    --color-block-light: #fbfbfb;
    --color-text-secondary: #999;
    --color-text-primary: #1e1e1e;
    --color-red-basic: #f00;
    --color-red-extra: #b20000;
}

body {
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.header {
    margin: 16px 0 56px;
    text-align: center;
    font-size: 20px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 340px;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    padding: 30px;
}

.form-container > .input-group {
    margin-bottom: 32px;
}

.form-container {
    .button {
        margin-top: 62px;
    }

    .link {
        margin-top: 14px;
    }
}
