.search {
    width: 100%;
    height: 32px;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--color-gray-light);
    color: var(--color-text-secondary);
    font-size: 14px;
}

.search::placeholder {
    text-align: center;
    color: var(--color-text-secondary);
}

.search:focus::placeholder {
    color: transparent;
}
