---
title: Profile Password Edit
css:
  - index.css
  - button.css
  - profileInput.css
  - profile.css
  - pageBackLink.css
---

{{!< base}}

<main class="profile-password-edit-wrapper">
    <div class="profile-password-edit-page">
        {{> pageBackLink href="./profile.hbs"}}
        <div class="profile-page__content">
            <div class="profile-page__user-photo"></div>
            <form class="form__container" id="profile-password-edit-form">
                <div class="profile-page__info">
                    {{> profileInput name="password" label="Старый пароль" type="password"}}
                    {{> profileInput name="oldPassword" label="Новый пароль" type="password"}}
                    {{> profileInput name="newPassword" label="Повторите новый пароль" type="password"}}
                </div>
                {{> button type="submit" href="./profile.hbs" form="profile-password-edit-form" view="primary" title="Сохранить"}}
            </form>
        </div>
    </div>
</main>
