<div class="chat-preview">
    <div class="chat-preview__avatar"></div>
    <div class="chat-preview__info">
        <div class="chat-preview__name">Киноклуб</div>
        <div class="chat-preview__message">Друзья, у меня для вас особенный выпуск новостей!...</div>
    </div>
    <time class="chat-preview__time" datetime="20:00">20:00</time>
</div>