<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
            {{#each css}}
                <link rel="stylesheet" href="../styles/{{this}}">
            {{/each}}
            <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <title>
            {{> title}}
        </title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
